@model AgateProject.Data.Models.Client
@{
    ViewData["Title"] = "AddClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Client</h1>
<br />
@using (Html.BeginForm("AddClient", "Client", FormMethod.Post))
{
    @Html.Label("Enter Client Name:")
    @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
    <br />
    @Html.Label("Enter Payment Amount:")
    @Html.TextBoxFor(x => x.ClientPayment, new { @class = "form-control" })
    <br />
    @Html.Label("Enter Client Address:")
    @Html.TextBoxFor(x => x.ClientAddress, new { @class = "form-control" })
    <br />
    @Html.Label("Enter E-Mail:")
    @Html.TextBoxFor(x => x.ClientEmail, new { @class = "form-control" })
    <br />
    @Html.Label("Enter Password:")
    @Html.TextBoxFor(x => x.ClientPassword, new { @class = "form-control" })
    <br />
    @Html.Label("Enter Client's Campaign ID:")
    @Html.TextBoxFor(x => x.CampaignID, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Add Client</button>
}