@model AgateProject.Data.Models.Client
@{
    ViewData["Title"] = "AddClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Add Client</h2>
<br />
@using (Html.BeginForm("AddClient", "Client", FormMethod.Post))
{
    @Html.Label("Enter Client Name:")
    @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
    <br />
    @Html.Label("Enter Client Address:")
    @Html.TextBoxFor(x => x.ClientAddress, new { @class = "form-control" })
    <br />
    @Html.Label("Enter E-Mail:")
    @Html.TextBoxFor(x => x.ClientEmail, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Add Client</button>
}