@model List<AgateProject.Data.Models.Staff>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.StaffName</h2>
<h2 class="text-center">Staff List</h2>
<table class="table table-bordered">
    <tr>
        <th>Staff ID</th>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Password</th>
        <th>Campaign ID</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.StaffID</td>
            <td>@i.StaffName</td>
            <td>@i.StaffEmail</td>
            <td>@i.StaffPassword</td>
            <td>@i.CampaignID</td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff" class="btn btn-primary">New Staff</a>
