@model AgateProject.Data.Models.ClientContact
@{
    ViewData["Title"] = "GetClientContact";
    Layout = "~/Views/Shared/_LayoutStaffContact.cshtml";
}

<h1>Change Client Contact</h1>
<br />
@using (Html.BeginForm("ChangeClientContact", "ClientContact", FormMethod.Post))
{
    @Html.LabelFor(x => x.ClientContactID)
    @Html.TextBoxFor(x => x.ClientContactID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ClientContactName)
    @Html.TextBoxFor(x => x.ClientContactName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ClientID)
    @Html.TextBoxFor(x => x.ClientID, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Change</button>
}

