@model AgateProject.Data.Models.Staff
@{
    ViewData["Title"] = "GetStaffForContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Assign Staff Contact</h2>
<br />
@using (Html.BeginForm("AssignStaffContact", "Staff", FormMethod.Post))
{
    @Html.LabelFor(x => x.StaffID)
    @Html.TextBoxFor(x => x.StaffID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StaffName)
    @Html.TextBoxFor(x => x.StaffName, new { @class = "form-control" }) 
    <br />
    @Html.LabelFor(x => x.StaffEmail)
    @Html.TextBoxFor(x => x.StaffEmail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StaffPassword)
    @Html.TextBoxFor(x => x.StaffPassword, new { @class = "form-control" })
    <br />
    @Html.Label("Campaign Name:")
    @Html.DropDownListFor(x => x.CampaignID, (List<SelectListItem>)ViewBag.l1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Assign Staff Contact</button>
}
