@model List<AgateProject.Data.Models.Campaign>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Campaign List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Campaign ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Budget</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Completion</th>
        <th>Select Campaign</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.CampaignID</td>
            <td>@i.CampaignName</td>
            <td>@i.CampaignDescription</td>
            <td>@i.CampaignBudget</td>
            <td>@i.StartDate</td>
            <td>@i.FinishDate</td>
            <td>@i.Completion</td>
            <td><a href="" class="btn btn-success">Select Campaign</a></td>
        </tr>
    }
</table>